<div class="wrapper wrapper__bg">
  <div class="container">
    <h1>1ch (わんちゃんねる)</h1>
    <%= link_to 'スレッド新規作成', new_board_path %>
    <hr>
    <div class="panel">
      <% @boards.each do |board| %>
          <%= link_to board.title, board_path(board) %> <br>
      <% end %>
    </div>
  </div>
</div>

